* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    color: #fff;
    background-color: #018065;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.back-button-container,
.menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 100%;
    cursor: pointer;
}

.back-button-icon,
.menu-button-icon {
    font-size: 1.6rem;
}

.page-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page-title-container h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.page-main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem 1.2rem 1rem;
    gap: 1.2rem;
}

.qr-scanner-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.qr-scanner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    padding: 1.5rem;
    gap: 2rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.qr-scanner-icon {
    color: #018065;
    font-size: 4rem;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 13rem;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scanner-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    transition: all 0.3s ease-in-out;
}

.scanner-action-button {
    font-size: 1rem;
    font-weight: bolder;
    width: 100%;
    padding: 0.9rem 0;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    background-color: #018065;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.scanner-action-button:hover {
    background-color: #00a17e;
    cursor: pointer;
}

.results-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.result-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
}

.result-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
    background-color: #018065;
}

.result-title h2 {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #ffffff;
}

.result-card dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
}

.result-card dt {
    /* color: #dade5e; */
    font-weight: bold;
    color: #333;
}

.result-card dd {
    color: #555;
}

.result-card dt,
.result-card dd {
    flex: 0 0 50%;
    padding: 0.75rem;
    border-bottom: 1px solid #d0d0d0;
}

.result-card dt:last-of-type,
.result-card dd:last-of-type {
    border-bottom: none;
}

.no-results-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
}

.no-results-section h3 {
    color: #333;
    margin-bottom: 10px;
}

.no-results-section p {
    text-align: center;
    color: #777;
    font-size: 0.95em;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .app-header {
        height: 3.2rem;
    }
}