* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 3rem;
    padding: 0 0.5rem;
    color: #fff;
    background-color: #018065;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 100%;
    cursor: pointer;
}

.back-button-icon {
    font-size: 1.6rem;
}

.menu-icon {
    font-size: 1.8rem;
}

.app-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* .sub-header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding-left: 0.5rem;
} */

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.qr-scanner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    margin-top: 3rem;
    border: 1px solid #018065;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.qr-scanner-icon {
    color: #018065;
    font-size: 4rem;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.qr-action-button {
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    background-color: #018065;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.qr-action-button:hover {
    background-color: #00a17e;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .app-header {
        height: 3.2rem;
    }
}